/**
 * This file extends index.html and linkedviews.js.
 *
 * The file defines several CSS styles to be used in the script and HTML DOM.
 *
 * Name: Maud van Boven
 * Student ID: 12474673
 */


/* define Star Trek font,
   source: https://webfonts.ffonts.net/StarTrek.font*/
@font-face {
   font-family: 'StarTrek';
   src:url('StarTrek.ttf.woff') format('woff'),
       url('StarTrek.ttf.svg#StarTrek') format('svg'),
       url('StarTrek.ttf.eot'),
       url('StarTrek.ttf.eot?#iefix') format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}


/* define chart title style */
.chart.title {
    font-size: 16px;
    font-weight: bold;
}


/* define legend style */
.legend {
    font-size: 12px;
    font-variant: small-caps;
}


/* define general HTML elements and classes styles */
body {
    position: absolute;
    top: -60px;
    color: white;
    font-family: sans-serif;
    background-color: #232323;
}
h2.title {
    height: 50px;
    width: 1000px;
    font-size: 100px;
    color: white;
    font-family: 'StarTrek';
}
p.student {
    font-variant: small-caps;
    font-weight: bold;
}
